{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %} AYOMI - Login {% endblock title %}

{% block content %}
<div class="container mt-3 mb-3 pt-5 pb-5 px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8">
            <div class="container-fluid message-zone">
                <div class="column pt-2">
                <h1> Log In </h1>
                <hr>
                    <form method="POST" novalidate  >
                        {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form.visible_fields %}
                        <div class="form-group">
                        {{ field.label_tag }}
                        {% render_field field class="form-control" %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        </div>
                        {% endfor %}
                        <br/>
                            <input class='btn-primary' type="Submit" Value="Login"/>
                        </form>
                    </form>
                    <br>
                    <p>Don't have an account yet ? <a href="{% url 'users:register' %}">Register today</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
