.container {
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    border: black 2px solid;
    border-radius: 10px;
}

.nav-link{
    color:red;
}

.title-home{
    text-align: center;
}

